<!DOCTYPE html>
<html>
<#include "../../head.html">
    <body>
    <table class="mc">
        <tr>
            <td class="mc-l">
                <!--左侧导航---{-->
                <div id="navPanelContainer">
                    <div class="system-logo cd"></div>
                    <!--管理员信息---{-->
                    <#include "../../adminInfo.html">
                        <!--管理员信息---}-->
                        <div class="nav-wrap">
                            <#include "../left.html">
                        </div>
                </div>
                <!--左侧导航---}-->
            </td>
            <td class="mc-m">
                <div class="navToggle"></div>
            </td>
            <td class="mc-r">
                <!--顶部导航---{-->
                <#include "../../topNav.html">
                    <!--顶部导航---}-->

                    <!--面包屑导航---{-->
                    <#assign moduleName="vip审核">
                        <#include "../banner.html">
                            <!--面包屑导航---}-->

                            <!--工具栏--{-->
                            <div id="toolbar" class="clearfix">
		                         <div class="toolbor-module">
							        <input type="button" class="input-button return" value="返回" onclick="history.go(-1)">
							    </div>
                            </div>
                            <!--工具栏--}-->

                            <div id="main" class="clearfix">
                                    <div class="valBox" style="margin-bottom:20px;">
                                        <div class="top">
                                            <strong>VIP审核查看</strong>
                                        </div>
                                        <div class="fp clearfix">
                                            <ul>
                                                <li>
                                                    <div class="title">用户名：</div>
                                                    <div class="v">
                                                        ${vipinfo.user.username!}
                                                    </div>
                                                </li>
                                                
                                                <li></li>
                                                <li></li>
                                            </ul>
                                        </div>
                                        </div>

                          
									<form onsubmit="return check_form();" action="viewvip.html" method="post" name="form1" enctype="multipart/form-data">
						
                                        <div id="audit">
						                    <div class="top">
						                        <strong>审核</strong>
						                    </div>
						                    <div class="v">
						                        <div class="c">
						                            <div class="choose">
						                                <label class="mr15">
						                                	<input name="vipStatus" type="radio" value="1" class="radio">审核通过
						                                </label>
						                                <label>
						                                	<input name="vipStatus" type="radio" class="radio" value="0" checked="checked">审核不通过
						                                </label>
						                            </div>
						                            <div class="ce">
						                            	<div class="l">备注:</div>
						                                <div class="c">${vipinfo.vipRemark!}</div>
						                            </div>                
						                       
						                            <textarea class="remark" name="vip_verify_remark">输入审核备注...</textarea>
						                        </div>
						                        <div class="other clearfix">
													<input type="hidden" value="${(vipinfo.user.userId!)?c}" name="userId"> 
													<input type="submit" value="确定审核" class="input-button confirm"> 
													<input type="reset" value="重置表单" name="reset" class="input-button confirm">
													<input type="hidden" name="actionType" value="viewvip" />
						                        </div>

						                    </div>
						                </div>
                                    

                                </form>
                                
                                <script>
                                function check_form(){
                                    var frm = document.forms['form1'];
                                    var verify_remark = frm.elements['verify_remark'].value;
                                    var errorMsg = '';
                                    if (verify_remark.length == 0 || verify_remark=='输入审核备注...') {
                                        errorMsg += '备注必须填写' + '\n';
                                    }

                                    if (errorMsg.length > 0){
                                        alert(errorMsg); return false;
                                    } else{
                                        return true;
                                    }
                                }
                            </script>

                            </div>
            </td>
        </tr>
        <tr>
            <!--尾部--{-->
            <td colspan="3" class="mc-b"><#include "../../foot.html"></td>
            <!--尾部--}-->
        </tr>
    </table>

    </body>
</html>
<#include "../../jsPage.html">
